<footer>
    <div class="f-info">
        <div class="f-info-brand">
            <span class="brand-icon">
                <i class="fa-solid fa-house"></i>
            </span>
            <span>Homio</span>
        </div>
        
        <div class="f-info-copyright">
            &copy; <%= new Date().getFullYear() %> Homio Private Limited. All rights reserved.
        </div>
        
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/help">Help</a>
        </div>
        
        <div class="f-info-socials">
            <a href="#" aria-label="Facebook">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" aria-label="Twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="#" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</footer>